---
const faqs = [
  {
    question: "¿Qué tipo de servicios se ofrecen en Algorithmic?",
    answer: "Ofrecemos una gama completa de servicios de consultoría de TI, que incluyen análisis de datos, desarrollo de software, diseño web, desarrollo de aplicaciones móviles y optimización de sistemas. Nos especializamos en soluciones tecnológicas personalizadas que se adaptan a las necesidades de cada cliente."
  },
  {
    question: "¿Pueden ayudarme a desarrollar una aplicación para mi negocio?",
    answer: "Sí, desarrollamos aplicaciones personalizadas para empresas de todos los tamaños. Nuestro equipo trabaja con usted para comprender sus requisitos específicos y desarrollar soluciones que mejoren sus procesos y optimicen la eficiencia de su empresa."
  },
  {
    question: "¿Cómo garantizas la calidad de los proyectos que desarrollas?",
    answer: "Nos enfocamos en la calidad durante todo el ciclo de desarrollo, también aplicamos estrictos controles de calidad y pruebas de usuario para garantizar que el producto final cumpla con sus expectativas y esté libre de errores."
  },
  {
    question: "¿Ofrecen soporte técnico una vez finalizado el proyecto?",
    answer: "Sí, ofrecemos un soporte técnico completo durante el primer mes posterior a la implementación, asegurándonos de que todo funcione sin inconvenientes. Este servicio incluye correcciones de errores, mejoras y actualizaciones continuas para que su solución esté siempre alineada con las necesidades cambiantes de su negocio. Después de este periodo de garantía, estaremos encantados de seguir brindándole soporte adicional, el cual se puede presupuestar de acuerdo a sus necesidades específicas."
  },
  {
    question: "¿Cuál es el proceso para iniciar un proyecto?",
    answer: "El proceso comienza con una consulta inicial donde discutimos sus necesidades y objetivos. Luego, creamos un plan de acción detallado y un cronograma, seguido de la fase de desarrollo, pruebas y finalmente la implementación."
  },
  {
    question: "¿Cómo manejan la confidencialidad y la seguridad de los datos?",
    answer: "Tomamos muy en serio la seguridad y la confidencialidad de los datos. Implementamos medidas de seguridad robustas y seguimos las mejores prácticas para proteger la información sensible de nuestros clientes."
  },
  {
    question: "¿Cómo me pongo en contacto?",
    answer: "Puedes contactar con nosotros a través de nuestro email o whatsapp. Organizaremos una reunión inicial para entender tus necesidades y objetivos, y a partir de ahí desarrollaremos una propuesta personalizada para tu proyecto."
  },
  {
    question: "¿En que paises ofrecen sus servicios?",
    answer: "Actualmente, brindamos nuestros servicios de TI a nivel global, atendiendo a clientes en varios países. No importa dónde se encuentre, estamos disponibles para ofrecerle soluciones personalizadas basadas en sus necesidades tecnológicas. Contáctenos para obtener más detalles sobre la disponibilidad en su región."
  },
  {
    question: "¿Cuáles son los métodos de pago disponibles?",
    answer: "Aceptamos pagos a través de PayPal y criptomonedas (USDT). Estas opciones le permiten realizar transacciones de forma rápida y segura desde cualquier parte del mundo. Si tienes alguna duda o necesitas más información sobre los métodos de pago, no dudes en contactar con nosotros."
  }
];
---

<div class="faq-container" id="faq">
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">FAQ</h2>
  <div class="faq-list">
    {faqs.map((faq, index) => (
      <details class="faq-item">
        <summary class="faq-question">{faq.question}</summary>
        <p class="faq-answer">{faq.answer}</p>
      </details>
    ))}
  </div>
</div>

<style>
  .faq-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: rgba(var(--accent-dark), 0.2);
    border-radius: 8px;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .faq-item {
    background: rgba(var(--accent-light), 0.1);
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    padding: 1rem;
    cursor: pointer;
    color: green;
    font-weight: bold;
    color: rgb(var(--accent-light));
  }

  .faq-question:hover {
    background: rgba(var(--accent-light), 0.2);
  }

  .faq-answer {
    padding: 1rem;
    color: white;
    background: rgba(var(--accent-dark), 0.3);
  }

  details[open] .faq-question {
    background: rgba(var(--accent-light), 0.2);
  }
</style>