---
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://algorithmic.website/",
    description: "Home page",
    icon: "mdi:home",
  },
  {
    url: "https://linkedin.com/",
    description: "LinkedIn profile",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://whatsapp.com/",
    description: "Whatsapp chat",
    icon: "fa-brands:whatsapp",
  },
];
---

<footer class="relative flex h-52 items-center justify-center dark:bg-default">
  <div class="absolute inset-0 overflow-hidden opacity-40">
  </div>
  <p>® Algorithmic Todos los derechos reservados</p>
</footer>
