---
import ContentSection from "~/components/content-section.astro";
import DeveloperSection from "~/components/developer-section.astro";
---

<ContentSection title="Innovación y crecimiento" id="intro">
  <Fragment slot="lead">
    Transformamos tus ideas en 
    <span class="text-green-500">soluciones innovadoras</span>, impulsando el 
    <span class="text-green-500">crecimiento</span> de tu negocio a través de 
    <span class="text-green-500">tecnología avanzada</span> y consultoría estratégica. 
    Juntos, optimizamos procesos y creamos experiencias excepcionales.
</Fragment>



  <!-- <DataDashboard /> -->

  <DeveloperSection />

</ContentSection>
