---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Diseño personalizado",
    description:
      "Creamos diseños únicos y atractivos que reflejan la identidad de tu marca y cautivan a tus clientes.",
    icon: "mdi:palette",
  },
  {
    title: "Desarrollo de software a medida",
    description:
      "Desarrollamos soluciones de software personalizadas que se adaptan a las necesidades específicas de su negocio.",
    icon: "mdi:code-braces",
  },
  {
    title: "Creación de sitios web",
    description:
      "Creamos sitios web responsivos y optimizados, garantizando una experiencia de usuario excepcional en todos los dispositivos.",
    icon: "mdi:web",
  },
  {
    title: "Optimización SEO",
    description:
      "Implementamos estrategias SEO que mejoran la visibilidad de tu sitio web en los motores de búsqueda y atraen tráfico orgánico.",
    icon: "mdi:chart-line",
  },
  {
    title: "Consultoría de datos",
    description:
      "Le ayudamos a analizar y gestionar sus datos de forma eficaz para tomar decisiones informadas y estratégicas.",
    icon: "mdi:database",
  },
  {
    title: "Consultoría en Redes",
    description:
      "Ofrecemos orientación experta para optimizar y proteger la infraestructura de red de su empresa, garantizando operaciones confiables y eficientes.",
    icon: "mdi:lan",
  },
];
---

<ContentSection title="Nuestros Servicios" id="services">
  <Fragment slot="lead">
    En 
    <span class="text-primary">ALGORITHMIC</span>, ofrecemos soluciones personalizadas que potencian su presencia en línea y aceleran su éxito.</Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
